.dropdown
    &-menu
        padding 0
        border none
        vendor(border-radius, 0px)
        vendor(box-shadow, 0 15px 50px rgba(0, 0, 0, 0.15))

        > li

            > a
                padding 12px 25px
                font-weight 500
                color text-color
                font-size 12px



