footer
    z-index 3
    /*padding-bottom padd-bottom*/

    /.footer
        background-color background-grey
        border-radius $border-radius
        overflow hidden

        &__row
            flexs()
            -webkit-flex-wrap wrap
            -ms-flex-wrap wrap
            flex-wrap wrap
            position relative

            &-title
                display block
                font-size 14px
                margin 0 0 18px 0
                color text-color
                font-weight 600


            &-column
                width 50%
                position relative
                overflow hidden

                &-right
                    padding 0 65px 0 110px

            &-form
                height 100%

                &::before
                    before-or-after-absolute('?')
                    left -120px
                    top 0
                    bottom 0
                    right 0
                    font-size 600px
                    line-height @font-size - 100px
                    color #fff
                    font-weight 700
                    opacity .5

                > div
                    height 100%
                    padding 50px 0 50px 0
                    border-bottom 1px solid #bcbcbc
                    flexs(center-vertical)

                &-title
                    margin 0 0 15px 0
                    color text-color

                small
                    font-size 15px
                    line-height @font-size * 1.2
                    color #000
                    opacity .4
                    font-weight 500
                    margin 0 0 35px 0
                    display block

            &-map
                position absolute
                left 0
                top 0
                width 100%
                height 100%


            &-contacts
                padding 50px 0 0 0

                &-top
                    > li
                        flexs(center-vertical)
                        margin 0 0 15px 0
                        font-size 13px
                        line-height @font-size * 1.3
                        color #535353
                        font-weight 500

                        &:last-child
                            margin 0

                        p

                            br
                                display none


                        > div
                            width 16px
                            text-align center
                            margin 0 10px 0 0
                            flexs(center-vertical)
                            justify-content center

                    .svg
                        height 15px


                &-center
                    height 150px
                    flexs(center-vertical)
                    font-weight 700
                    max-width 600px

                    > div
                        width 50%

                    .tel
                        font-size 22px
                        line-height @font-size

                    .email
                        font-size 16px
                        line-height @font-size
                        @extends .links


                &-social
                    flexs()

                    > li
                        margin 0 20px 0 0

                        &:last-child
                            margin 0

                        > a
                            display block
                            width 34px
                            height @width
                            vendor(border-radius, 50%)
                            flexs(center-vertical)
                            justify-content center
                            border 2px solid #bcbcbc
                            vendor(transition, border-color .55s ease)

                            &:hover
                                border-color background-brown

                    .svg
                        height 14px


            &-footer
                flexs(justified)
                flexs(center-vertical, false)
                -webkit-box-orient horizontal
                -webkit-box-direction reverse
                -ms-flex-direction row-reverse
                flex-direction row-reverse
                height 130px
                width 100%
                max-width 700px

                &-copyright
                    width 200px
                    color #acacac
                    font-weight 500
                    font-size 13px
                    line-height @font-size
                    white-space nowrap

                &-menu
                    flexs(justified)
                    width calc(100% - 200px)
                    font-size 13px
                    font-weight 600

                    > li

                        > a
                            @extends .links




        &-swiper
            background-color #000

            .carousel
                height 100%

            .swiper-slide

                &:not(.swiper-slide-active)
                    opacity 0 !important

                img
                    opacity .8
                    width 100%
                    height 100%
                    imagecover()

            .swiper-controls
                position absolute
                z-index 10
                right 30px
                bottom 30px
                flexs(center-vertical)

                > *
                    position relative
                    left auto
                    right auto

                .swiper-pagination
                    width 80px
                    padding 10px 0
                    text-align center
                    font-weight 700
                    color #fff
                    font-size 11px
                    line-height @font-size




        &__footer
            text-align center
            opacity .5
            font-size 11px
            font-weight 600
            padding 15px 15px 10px 15px


        @media screen and (max-width: media-large)

            &__row

                &-column

                    &-right
                        padding 0 40px

        @media screen and (max-width: media-md)

            &__row

                &-contacts

                    &-center
                        height 100px

                        .tel
                            font-size 18px

                &-footer
                    display block
                    height auto
                    max-width none

                    &-menu
                        width 100%
                        padding 30px 0

                    &-copyright
                        width 100%
                        padding 0 0 30px 0

        @media screen and (max-width: media-sm)

            &__row
                display block

                &-map
                    display none

                &-column
                    width 100%

                &-form

                    &::before
                        display none

        @media screen and (max-width: media-xs)

            &__row

                &-contacts

                    &-center
                        display block
                        height auto
                        padding 30px 0 15px 0

                        > div
                            width 100%
                            margin 0 0 15px 0

        @media screen and (max-width: 460px)

            &__row

                &-footer

                    &-menu
                        flex-flow column nowrap

                        > li

                            &:not(:last-child)
                                margin 0 0 12px 0

        @media screen and (max-width: media-ls)

            &__row

                &-column

                    &-right
                        padding 0 20px




