font-size         	= 13px
font 				= 'Montserrat', sans-serif
font-900 			= 'Montserrat', sans-serif;
font-700 			= 'Montserrat', sans-serif;
background-brown  	= #d78a6e
background-grey   	= #ebebeb
background-white   	= #fff
background-black    = #404040

color-brown 		= #d78a6e
text-color        	= #404040
text-color-grey     = #dedede

padd-left  		    = 30px
padd-right  		= 30px
padd-bottom  		= 30px
padd-top  		    = 30px

header-height       = 70px
header-logo-width   = 190px

media-md  		    = 1199px
media-large  	    = 1400px
media-sm  		    = 999px
media-xs  		    = 767px
media-ls  		    = 400px
$border-radius      = 0px
$border-radius-element      = 3px
